body {
    color: white;
    background-color:#5cc7ec;
    font-family:"Pixelify Sans", serif;
    font-weight:600;
    font-size:32px;
    letter-spacing:3px;
    text-shadow:black 3px 2px;
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    height:100vh;
    
}

main {
    flex:2;
    display:flex;
    align-items:center;
    justify-content:center;
    width:60vw;
}

button {
    font-family: "Pixelify Sans", serif;
    color:white;
    text-shadow:black 4px 2px;
    font-size:36px;
    width:4em;
    letter-spacing:1px;
    background-color:#fbcc3d;
    font-weight:600;
    border:none;
    cursor:pointer;
    
}

button,
#human-move,
#computer-move,
#round-result {

clip-path: polygon(
    0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px
  );  
}

button:hover {
    background-color:#f66363;
    color:black;
    text-shadow:white 4px 2px;
}

.selection-button {
    width:5.5em;
}

header,
footer {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
    width:100vw;
    padding:12px;
    background-color:#3386c3;
               
}

.foote {
    align-self:flex-end;
}

.ui-container {
    height:90%;
    width:50vw;
    border:pink 5px solid;

} 

.buttons-container {
    display:flex;
    justify-content: space-between;
    align-items: baseline;

}

.score,
.move {
    display:flex;
    justify-content:space-between;
} 

#round-result {
    margin-top: 24px;
    margin-bottom: 24px;
}

.move-box {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    padding:12px;
    width:40%;
    height:360px;
    gap:8px;
    
}

.round-count {
    display:flex;
    align-self:center;
    align-items:center;
    color:#3386c3;

}

.button-box {
    display:flex;
    flex-direction: column;
    align-items: center;
}

img {
    height:50%;
    width:50%;
} 

.move-img {
    height:40%;
}

#human-move,
#computer-move,
.round-count,
#round-result {
    width:11em;
    padding:2px;    
    font-size:42px;
    letter-spacing:1px;
    font-weight:bold;
}

#computer-move{
    background-color: #f66363;
}

#human-move {
    background-color: #4c9f4f;
}

#round-result {
    background-color: #3386c3;
    width:100%;
    
}

.summary div {
    padding:16px;
}

#play-again-button {
    width:8em;
}