body {
    color: white;
    background-color:#5cc7ec;
    font-family:"Pixelify Sans", serif;
    font-weight:600;
    font-size:36px;
    letter-spacing:3px;
    text-shadow:black 3px 2px;
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    height:100vh;
    margin:0;
    padding:0;
    
}

main {
    flex:2;
    display:flex;
    align-items:center;
    justify-content:center;
    width:60vw;
    border: brown 6px solid;
}

button {
    font-family: "Pixelify Sans", serif;
    color:white;
    text-shadow:black 4px 2px;
    font-size:42px;
    width:4em;
    letter-spacing:1px;
    background-color:#fbcc3d;
    font-weight:600;
    border:none;
    cursor:pointer;
    clip-path: polygon(
    0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px
  );  

}

button:hover {
    background-color:#f66363;
    color:black;
    text-shadow:white 4px 2px;
}

.selection-button {
    width:5.5em;
}

header,
footer {
    display:flex;
    justify-content: center;
    font-size:32px;
    width:100vw;
    height:8vh;
    padding:6px;
    background-color:#3386c3 ;
    display:flex;
    align-items:center;
               
}

.ui-container {
    
    border:pink 3px solid;
    height:80%;
    width:50vw;
} 

.buttons-container {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    border:black 3px solid;
}
.score,
.move {
    display:flex;
    justify-content:space-between;
    border:red 3px solid;
} 

#round-result {
    padding:20px 0;
}
.move-box {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
    padding:24px;
    gap:24px;
}


.button-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    border:yellow 3px solid;
}

img {
    height:50%;
    width:50%;
} 

.move-img {
    height:auto;
    width:200px;
}

.summary {
    padding:12px;
}